body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #444;
}

h1 {
    color: #4CAF50;
    font-size: 65px;
    font-weight: 700;
    font-family:'Pixelify Sans'
}

#board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square{
    border: 2px solid rgb(30, 30, 30);
    min-width: 55px;
    min-height: 55px;
    font-weight: bold;
    font-size: 2rem;
}