body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #222;
}

h1 {
    color: #4CAF50;
    font-size: 65px;
    font-weight: 700;
    font-family:'Pixelify Sans'
}

#board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square{
    border: 2px solid rgb(70, 70, 70);
    min-width: 55px;
    min-height: 55px;
    font-weight: bold;
    font-size: 2rem;
}

.keyboard-row{
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
    margin-top: 10px;
}

.keyboard-row button{
    margin-top: 10px;
    padding: 7px 8px;
    background-color: rgb(129, 131, 132);
    color: rgb(215, 218, 220);
    border: none;
    font-size: 17px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 3px;
    user-select: none;
}